body {
  margin-top: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  font-size: 13px;
  color: #fff;
  background-color: #4a525a;
}

h1 {
  font-family: Georgia, serif;
  font-size: 1.55em;
  line-height: 1.5em;
  text-align: left;
  font-weight: normal;
}

h2 {
  font-family: Verdana, sans-serif;
  font-size: 1.1em;
  text-align: left;
  font-weight: normal;
  letter-spacing: 0.2em;
  margin: 15 0 5 0;
  text-transform: uppercase;
}

h3 {
  font-family: Verdana, sans-serif;
  font-size: 1em;
  text-align: left;
  letter-spacing: 0.2em;
  margin: 15 0 3 0;
  text-transform: uppercase;
}

#logo {
  border: 0;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: green;
}

#flashalert {
  color: red;
}

hr {
  width: 20%;
  text-align: left;
  margin: 0 auto 0 0;
}
