%h1= link_to('New Project', new_project_path)
- @projects.each do |project|
  %h2= link_to(project.title, project)
%p hello!
%a{ :href => 'www.google.com' } Layla!
.ygvytg something
#askjdfas blah blah

